@font-face {
  font-family: "Blocky";
  src: url(./fonts/blocky.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Outfit Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.root {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.navbar h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

.page-footer {
  display: flex;
  vertical-align: bottom;
  background-color: #282c34;
  min-height: 4cqmax;
}

a {
  --color: #49b6ff;
  color: #49b6ff;
}

a.footer-link {
  color: rgb(from var(--color) 100 100 100);
  opacity: 0.7;
  text-decoration: none;
}

a.footer-link:hover {
  opacity: 0.4;
}

a:has(> .brandTitle) {
  line-height: 0;
}

.brandTitle {
  image-rendering: pixelated;
  width: 350px;
}

.inline-cover {
  position: relative;
}

.checkersBox {
  --trans: 100%;
  background-color: rgba(10, 10, 10, var(--trans));
}

.checkersBox:nth-child(even) {
  background-color: rgba(10, 10, 10, calc(var(--trans) - 50%));
}

.centered {
  text-align: center;
}