@font-face {
  font-family: "Blocky";
  src: url(./fonts/blocky.ttf);
}


$Outfit: 'Outfit Variable', 'Arial', sans-serif;
$darkBackground: #333;

html, body {
  height: 100%;
  width: 100%;
  font-family: var(--Outfit);
}

* {
  font-family: var(--Outfit);
}

.brandTitle {
  width: 35vh;
  image-rendering: pixelated;
}